<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ BLOGNAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <link href="atom.xml" type="application/atom+xml" rel="alternate" title="{{ BLOGNAME }} ATOM Feed" />


        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        
        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="css/ie.css"/>
                <script src="js/IE8.js" type="text/javascript"></script><![endif]-->
                
        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">
        
        <header id="banner" class="body">
                <h1><a href="#">{{ BLOGNAME }} <strong>{{ BLOGSUBTITLE }}</strong></a></h1>
                <nav><ul>
                        <li class="active"><a href="{{ BLOGURL }}">blog</a></li>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                </ul></nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
        {% if BLOGROLL %}
                <div class="blogroll">
                        <h2>blogroll</h2>
                        <ul>
                        {% for name, link in BLOGROLL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL %}        
                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="atom.xml" rel="alternate">atom feed</a></li>
                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->
        
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="#">pelican</a>, which takes great advantages of <a href="http://python.org">python</a>.
                </address><!-- /#about -->
                
                <p>The theme is by<a href="http://smashingmagazine.com">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>
