{% extends "base.html" %}
{% block content %}        
{% for article in articles %}        
    {% if loop.index == 1 %}
        <aside id="featured" class="body"><article>
                <hgroup> <h2>Last article</h2> <h3><a href="{{ article.url }}">{{ article.title }}</a></h3> </hgroup>
                {{ article.summary }}
        </article></aside><!-- /#featured -->
        <section id="content" class="body">
                <ol id="posts-list" class="hfeed">
    {% else %} 
        <li><article class="hentry">    
                <header>
                        <h2 class="entry-title"><a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2>
                </header>
                
                <footer class="post-info">
                        <abbr class="published" title="{{ article.date.isoformat() }}">
                                {{ article.date.strftime('%Y-%m-%d %H:%M') }}
                        </abbr>

                        <address class="vcard author">
                                By <a class="url fn" href="#">{{ article.author }}</a>
                        </address>
                </footer><!-- /.post-info -->
                <div class="entry-content">
                {{ article.summary }}
                </div><!-- /.entry-content -->
        </article></li>
    {% endif %}
{% endfor %}
</ol><!-- /#posts-list -->
</section><!-- /#content -->
{% endblock content %}
