{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>All articles</h2>
{% endblock %}

<ol id="post-list">
{% for content in contents_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ content.url }}" rel="bookmark" title="Permalink to {{ content.title|striptags }}">{{ content.title }}</a></h2> </header>
                <footer class="post-info">
                    <abbr class="published" title="{{ content.date.isoformat() }}"> {{ content.locale_date }} </abbr>
                    {% if content.author %}<address class="vcard author">By <a class="url fn" href="{{ SITEURL }}/{{ content.author.url }}">{{ content.author }}</a></address>{% endif %}
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ content.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
