/* -*- scss-compile-at-save: nil -*- */

$baseFontFamily : "Droid Sans", sans-serif;
$textColor      : #242424;
$bodyBackground : #e4e4e4;

body {
  font: 14px/1.5 $baseFontFamily;
  background-color: $bodyBackground;
  color: $textColor;
}

a {
  color: red;

  &:hover {
    color: orange;
  }
}
