# Auto detect text files and perform LF normalization
* text=auto

# Improve accuracy of GitHub's Linguist-powered language statistics
pelican/tests/content/*
pelican/tests/output/*
samples/* linguist-vendored
