[bumpr]
file = pelican/__init__.py
vcs = git
clean =
    python setup.py clean
    rm -rf *egg-info build dist
tests = python -m unittest discover
publish = python setup.py sdist bdist_wheel register upload
files =
    README.rst
    setup.py

[bump]
unsuffix = true
message = Bump version {version}

[prepare]
part = patch
suffix = dev
message = Prepare version {version} for next development cycle

[changelog]
file = docs/changelog.rst
separator = =
bump = {version} ({date:%Y-%m-%d})
prepare = Next release

[readthedoc]
url = http://docs.getpelican.com/{tag}

[commands]
bump = sed -i "" "s/last_stable[[:space:]]*=.*/last_stable = '{version}'/" docs/conf.py
