graft pelican/themes 
graft pelican/tests
graft pelican/tools/templates
graft docs
graft samples

include tox.ini
include dev_requirements.txt
include bumpr.rc
include THANKS
include README.rst
include LICENSE
include CONTRIBUTING.rst
include .travis.yml
include .coveragerc
include .mailmap
exclude .gitattributes
