include *.rst
global-include *.py
recursive-include pelican *.html *.css *png *.in
include LICENSE THANKS
recursive-include pelican/tests *
recursive-exclude pelican/tests *.pyc
recursive-include samples *
