{% extends "base.html" %}
{% block content %}

<div class="blogItem">
                        {% if articles %}
                        {% for article in articles %}        
                            {% if loop.index == 1 %}
				<ul>
                                {% for category, articles in categories %}
                                    <li>{{ category }}</li>
                                {% endfor %}
                                </ul>
		            {% endif %}
                        {% endfor %}
                        {% endif %}
				</div>
				
{% endblock %}
