@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src:
    local('Yanone Kaffeesatz Regular'),
    local('YanoneKaffeesatz-Regular'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
    url('../fonts/Yanone_Kaffeesatz_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 */
    url('../fonts/Yanone_Kaffeesatz_400.woff2') format('woff2');
}
