{% extends "base.html" %}
{% block title %}Archives de {{ SITENAME }}{% endblock %}
{% block content %}  
                        	<div id="content">
					<div class="post">
					<dl>
						<h2 class="title">Archives de {{ SITENAME }}</h2>
						{% for article in dates %}
                                                    <dt>{{ article.locale_date }}</dt>
                                                    <dd><a href='{{ article.url }}'>{{ article.title }}</a></dd>
                                                    <dd>Catégorie : <a href="{{ article.category }}">{{ article.category }}</a></dd>
                                                {% endfor %}
                                                </dl>
					</div>
			        
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
{% endblock %}
