{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
                        {% if articles %}
                        {% for article in articles %}        
                            {% if loop.index == 1 %}
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
						<p class="meta"><span class="date">Le {{ article.date.strftime('%a %d %B %Y') }} </span><span class="posted">Par <a href="#">{{ article.author }}</a></span><span>&nbsp; | Catégorie : <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></span></p>
					<p class="meta">Tags : {% for tag in article.tags %}
<span><a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> / </span>
{% endfor %}</p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
						 {{ article.content }}	
						{% include 'twitter.html' %}
						</div>
					</div>
			        {% if loop.length  > 1 %}	
			                <div class="post">
			                        <h2 class="title">Autres articles</h2>
			                </div>
			        {% endif %}
			    {% else %} 
			                <div class="post summary">
						<h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
						<p class="meta"><span class="date">Le {{ article.date.strftime('%a %d %B %Y') }}</span><span class="posted">Par <a href="#">{{ article.author }}</a></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
						 {{ article.summary }}	
						 <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Lire la suite …</a>
						</div>
					</div>
		            {% endif %}
                        {% endfor %}
                        {% else %}
                                <div id="content">
                                </div>
                        {% endif %}
					<div style="clear: both;">&nbsp;</div>
				</div>
				{% endblock content %}
