{% extends "base.html" %}
{% block content %}        
<section id="content" class="body">    
        <header> <h2 class="entry-title"><a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2> </header>
        <footer class="post-info">
                <abbr class="published" title="{{ article.date.isoformat() }}">
                        {{ article.date.strftime('%Y-%m-%d %H:%M') }}
                </abbr>
                <address class="vcard author">
                        By <a class="url fn" href="#">{{ article.author }}</a>
                </address>
        </footer><!-- /.post-info -->
        <div class="entry-content">
        {{ article.content }}
        </div><!-- /.entry-content -->
</section>
{% endblock %}
